body,
p,
samp {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Rubik', sans-serif;
}

img {
    max-width: 100%;
}

.grybg {
    background-color: #f9fafb;
}

/*======================================*/
/* Start custom Style  */
/*======================================*/

.main-header .container-fluid,
.slider-section .container-fluid {
    max-width: 1200px;
}

body .btn-primary {
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    padding: 10px 30px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

body .btn-primary:hover {
    border-color: #111;
}

body .btn-primary::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .3s;
}

body .btn-primary:hover::after {
    width: 100%;
}

/*======================================*/
/* Start Menu Section  */
/*======================================*/

ul.our-primary-menu li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
}

ul.our-primary-menu li a:hover {
    color: #e73a3e;
}

/*======================================*/
/* Start DropDown Menu  Css Section  */
/*======================================*/

ul.our-primary-menu li {
    position: relative;
}

ul.our-primary-menu li ul {
    position: absolute;
    width: 300px;
    left: 0;
    top: 160%;
    background: #fafafa;
    list-style: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
}

ul.our-primary-menu li ul li {
    flex-direction: column;
}

ul.our-primary-menu li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 120%;
}

.header-search {
    width: 60px;
    font-size: 22px;
    text-align: center;
    margin-right: 20px;
    border-right: 1px solid #ddd;
}

.header-call {
    width: 220px;
}

.header-call-icon {
    font-size: 33px;
    color: #e73a3e;
    float: left;
    margin-right: 15px;
}

.header-call-info span {
    color: #606060;
}

.header-call-info a {
    font-weight: 500;
    color: #111;
    text-decoration: none;
    font-size: 18px;
}
/* banner css */
.banner-section{
    background: url("https://i.ibb.co/ZKNfLSn/main-banner2.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.banner-text-wrap{
    height: 90vh;
    display: flex;
    align-items: center;    
    position: relative;
}
.banner-social{
    position: absolute;
    left: 0;
    bottom: 0;
}
.banner-text h6{
    color: #e73c3e;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
.banner-text h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}
.banner-text p{
    color: #606060;
    font-size: 18px;
    margin-bottom: 40px;
}
.banner-text .header-btn{}
.banner-social ul{
    list-style-type: none;
}
.banner-social{
    margin-left: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner-social ul li{}
.banner-social ul li span{
    color: #111;
    font-size: 16px;
    margin-right: 30px;
    position: relative;
}
.banner-social ul li span::after{
    content: "";
    width: 40px;
    height: 1px;
    background-color: #111;
    position: absolute;
    top: 50%;
    right: -45px;
}
.banner-social ul li a{
    text-decoration: none;
    color: #111;
    font-size: 16px;
    padding: 0 10px;
    display: inline-block;
    margin-left: 20px;
}
/* Logo se3ction*/
.logo-section{
    border-bottom: 1px solid #ddd;
}
.logo-section ul{
    list-style-type: none;
    padding-left: 0;
}
.about-img-text{
    position: absolute;
}
/* About section */
.about-img{
    position: relative;
}
.about-img img{
    max-width: 100%;
}
.about-img-text {
    position: absolute;
    bottom: 0;
    right: 100px;
    background: url(./shape.png) no-repeat;
    height: 200px;
    width: 200px;
    background-size: contain;
    text-align: center;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img-text h2{

}
.about-img-text p{

}
.about-text{}
.finix-text{}
.finix-text h6{
    color: #e73c3e;
    font-weight: 400;
}
.finix-text h2{
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}
.finix-text p{
    color: #606060;
    font-size: 18px;
}
.finix-text strong{
    color: #606060;
    font-weight: 400;
    font-size: 18px;

}
.finix-text ul{
    list-style-type: none;
    margin-top: 20px;
}
.finix-text ul li{
    padding: 7px 0;
}
.finix-text ul li::before{
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    display: inline-block;
    color: #e73c3e;
    margin-right: 10px;
}
.finix-text .header-btn{
    display: inline-block;
    margin-top: 10px;
}
/* why choose section */
.why-choose-section{
    background-color: #f9fafb;
    padding: 100px 0 50px 0;
}
.features-items{
    margin-left: 20px;
}
.feature-item{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease-in-out;
}
.feature-item::before{
    content: "";
    position: absolute;
    top: -133px;
    left: 0;
    right: 0;
    margin: 0;
    width: 90%;
    height: 70%;
    background-color: #fdebeb;
    border-radius: 50%;
    margin: auto;
}
.feature-item .ft-icon {
    position: relative;
    z-index: 1;
}
.mtopless{
    margin-top: -35px;
}
.feature-item .ft-icon  i{
    color: #e73c3e;
    font-size: 30px;
    background-color: #fff;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-radius: 50%;
    transition: .5s;
}
.feature-item:hover{
    transform: translateY(-15px);
}
.feature-item:hover .ft-icon  i{
    color: #fff;
    background-color: #e73c3e;
}
.finix-text{
    position: relative;
}
.play-icon {
    width: 90px;
    height: 90px;
    display: inline-block;
    color: #e73c3e;
    background-color: #fff;
    border-radius: 50%;
    line-height: 90px;
    text-align: center;
    font-size: 50px;
    position: absolute;
    right: 250px;
    bottom: 63px;
}
.play-icon::before{
    content: "";
    height: 90px;
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e73c3e;
    border-radius: 50%;
    animation: play-btn 1.6s ease-out infinite;
}
@keyframes play-btn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: 0.7;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}


/* Apply now css */
.apply-now-section{}
.apply-head-text{
    padding: 70px 0 40px 0;
}
.apply-now-left-text{
    margin-top: 100px;
}
.apply-now-left-text h2{}
.apply-now-left-text .header-btn {
    margin-top: 20px;
    display: inline-block;
}
.apply-timeline{
}
.apply-timeline .header-btn{

}

.apply-timeline ul {
    list-style: none;
    position: relative;
    padding-left: 50px;
}
.apply-timeline ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 4px;
    height: calc(100% - 80px);
    width: 2px;
    background-color: #e73c3e;
}
.apply-timeline ul li {
    margin-bottom: 25px;
    position: relative;
}
.apply-timeline ul li::before {
    content: attr(data-timeline);
    position: absolute;
    top: 0;
    left: -65px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    background-color: #f9fafb;
    border: 1px solid #e73c3e;
    text-align: center;
}
.apply-timeline ul li strong {
    font-size: 22px;
    font-weight: 600;
    display: block;
}
.apply-timeline ul li p {
    color: #606078;
}
.calculation-rate-right{
background-color: #fdebeb;
padding: 50px 40px;
}
.calculation-rate-right .finix-text h6{
    color: #606060;
}
.calculation-rate-right .finix-text h2{
    font-size: 34px;
}
.calculation-form .header-btn{
    padding: 8px 40px !important;
    border: none;
}
.calculation-form .form-group {
    margin-bottom: 23px;
}
.calculation-form .form-group input{
    border: none;
    border-radius: 0;
    padding: 14px 15px;
}
.calculation-form .form-group select{
    border: none;
    border-radius: 0;
    height: 53px;
}
.calculation-form .form-group label{
    display: block;
    margin-bottom: 10px;
}
/* Call-to action */
.call-to-action-bg{
    background-color: #e73c3e;
    padding: 70px 50px 50px 60px;
    border-radius: 5px;
    color: #fff;
}
.call-to-action-bg h2{
    color: #fff;
    font-weight: 400;
    font-size: 31px;
    border-right: 1px solid #ddd;
}
.call-to-action-phone{
    margin-top: 5px;
}
.call-to-action-phone span{
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    color: #e83b3e;
    font-size: 30px;
    margin-right: 20px;
}
.call-to-action-phone a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-top: 5px;
}
/* Our Company Value Section */
.company-value-section{}
.company-value-text{}
.company-value-text h2{}
.values-item{
    margin-bottom: 10px;
}
.values-item .value-icon{
    font-size: 30px;
    margin-right: 30px;
    color: #e83b3e;
}
.value-text{}
.value-text h3{}
.value-text p{
    color: #606060;
}
.our-company-img{
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
}
/* services section */
.services-section{
    background-color:#f9fafb ;
    padding: 100px 0;
}
.services-tab-item{
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 40px !important;
}
.services-tab-item li{
    flex: 1 1 auto;
}
.services-tab-item li a.active span i{
    color: rgb(250, 85, 85);
}
.services-tab-item li a.active{
    position: relative;
}
.services-tab-item li a.active::after{
    position: absolute;
    top: 115%;
    left: 0;
    content: "";
    width: 200px;
    height: 2px;
    background-color: rgb(250, 85, 85);

}
.services-tab-item li a span i{
    background-color: #fff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    color: #666;
    font-size: 35px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    margin-bottom: 10px;
}
.services-tab-item li a strong{
    color: #111111;
    font-size: 20px;
    font-weight: 600;
}
.services-tab-text{
    
}
.services-tab-text h3{
    font-size: 28px;
    margin-bottom: 20px;
}
.services-tab-text p{
    color: #606060;
}
.services-tab-text ul{
    list-style-type: none;
    padding-left: 0;
}
.services-tab-text ul li{
    color: #606060;
}
.services-tab-text ul li::before{
    content: "";
    height: 10px ;
    width: 10px;
    border-radius: 50%;
    background-color:  rgb(250, 85, 85);
    margin-right: 10px;
    display: inline-block;
}
/* client-testimonial-section */
.client-testimonial-section{
    background-color: #fff;
    padding: 100px 0 50px 0;
}
.testimonial-text{
}
.testimonial-text p{
    font-size: 22px;
}
.client-details{}
.client-details h5{
    color: rgb(250, 85, 85);
    margin-bottom: 0;
}
.client-details p{
    font-size: 18px;
}
.client-img{

}


/* team-member-section */
.team-member-section{
    background-color: #fafbfc;
    padding: 100px 0;
}
.team-member{}
.member-img{
    position: relative;
}
.member-img img{
    width: 100%;
    height: auto;
}
.member-social-profile{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.member-social-profile ul{
    text-align: center;
    padding-left: 0;


    margin-bottom: 25px;
}
.member-social-profile ul li{
    display: inline-block;



    transition: .5s ease-in-out;
    transform: translateY(45px);
    opacity: 0;
    visibility: hidden;
}
.member-img:hover .member-social-profile ul li{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.member-img .member-social-profile ul li:nth-child(1){
    transition-delay: .2s;
}
.member-img .member-social-profile ul li:nth-child(2){
    transition-delay: .3s;
}
.member-img .member-social-profile ul li:nth-child(3){
    transition-delay: .4s;
}
.member-img .member-social-profile ul li:nth-child(4){
    transition-delay: .5s;
}
.member-social-profile ul li a{
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 40px;
    color: #444;
    transition: .5s ease-in-out;
}
.member-social-profile ul li a:hover{
    background-color: red;
    color: #fff;

}
.member-social-profile ul li a i{}
.member-content{}
.member-content h4{
    color: #e73c3e;
    margin-top: 20px;
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}
.member-content p{
    color: #666;
}
/* Sucess section */
.success-section{
    background-color: #fff;
    padding: 100px 0;
}
.blog-item{}
.blog-img{}
.blog-img img{}
.blog-content{}
.blog-content p {
    margin-top: 20px;
    color: #e73c3e;
}
.blog-content a {
    text-decoration: none;
    color: #444;
    transition: all .5s;
}
.blog-content h3 {
    font-size: 26px;
}
.blog-content .blog-btn{
    font-weight: 500;
    transition: all .5s;
}
.blog-item:hover .blog-content .blog-btn{
    color: #e73c3e;
    letter-spacing: 1px;
}
.blog-content h3 a:hover{
    color:#e73c3e ;
}
/* Footer section */
.footer-section {
    background-color: #111111;
    padding: 100px 0;
}
.footer-widget {
}
.footer-widget h3 {
    color: #fff;
    font-size: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #444;
}
.footer-widget p {
    color: #fff;
    font-size: 18px;
    margin-top: 18px;
}
.footer-widget .footer-logo {
}
.footer-widget .footer-logo img {
    padding-right: 30px;
}
.footer-social {
    margin-top: 25px;
}
.footer-social ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.footer-social ul li {
    padding-right: 20px;
    color: #fff;
}
.footer-social ul li span{
    font-size: 20px;
    font-weight: 500;
}
.footer-social ul li a {
    color: #fff;
    font-size: 19px;
    transition: all .5s;
}
.footer-social ul li a:hover{
    color:#e73c3e ;
}
.footer-social ul li a i {
}
.footer-widget-item {
}
.footer-widget-item ul {
    list-style-type: none;
    padding-left: 0;
}
.footer-widget-item ul li {
    padding: 8px 0;
}
.footer-widget-item ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: all .3s ease-in-out;
}
.footer-widget-item ul li a:hover{
    color: #e73c3e;
    letter-spacing: 1px;
    transform: scaleY(1.1);
    font-weight: 500px;
}
.footer-contact {
}
.footer-contact {
    margin-top: 15px;
    margin-left: -10px;
}
.footer-contact-item {
    margin-bottom: 20px;
}
.footer-contact-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .5s;
}
.footer-contact-item span {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    margin-right: 15px;
}
.footer-contact-item span i {
    color: #fff;
    font-size: 25px;
}
.footer-contact-item a:hover{
    color: #e73c3e;
}
/* footer bottom section */
.footer-bottom-section{
    background-color: #111111;
}
.footer-bottom{
    border-top: 1px solid #444;
    padding: 40px 0;
}
.footer-bottom p{
    color: #aab0b5;
    margin-bottom: 0;
}
.footer-bottom p a{
    color: #fff;
    text-decoration: none;
}